body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.top-section, .bottom-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  height: 50vh;
  width: 100%;
}
.top-section {
  background-color: red;
}
.bottom-section {
  background-color: blue;
}
.picture {
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 0 5px #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
}
.picture img {
    max-width: 100%;
    max-height: 100%;
}
